
.links {
    margin-right: 30px;
    position: relative;
}

    .links li {
        list-style: none;
        position: relative;
        margin: 10px;
        display: inline-block;
    }

.rad-dropmenu-item.active {
    display: block;
    -webkit-animation: flipInX .3s ease;
}

.rad-logo-container {
    width: 225px;
    text-align: center;
    height: 50px;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rad-top-nav-container {
    float: right;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



.rad-menu-item {
    position: relative;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    color: #89949B;
}

.rad-menu-badge {
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    font-weight: bold;
    color: white;
    border-radius: 100%;
    font-size: 12px;
    background: #E94B3B;
    box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-align: center;
    top: -10px;
}

.rad-dropmenu-item {
    position: absolute;
    right: 0;
    top: 40px;
    min-width: 250px;
    background: white;
    border-top: 5px solid #2f4050;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
    z-index:100;
}

    .rad-dropmenu-item:before {
        content: "";
        position: absolute;
        border-width: 0 10px 10px 10px;
        border-style: solid;
        border-color: #2f4050 transparent;
        top: -14px;
        right: 8px;
    }





.rad-sidebar li {
    text-align: left;
    height: 50px;
}

    .rad-sidebar li a {
        text-decoration: none;
        height: 50px;
        display: block;
        color: white;
    }

        .rad-sidebar li a i {
            position: relative;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

            .rad-sidebar li a i:before {
                z-index: 10;
                position: relative;
            }

        .rad-sidebar li a > span {
            display: inline-block;
            padding-left: 10px;
            -webkit-transition: all .2s ease-in-out;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

    .rad-sidebar li:hover {
        background: #263340;
    }

        .rad-sidebar li:hover .icon-bg {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
